.btn {
  display: inline-block;
  width: 110px;
  line-height: 30px;
  text-align: center;
  background-color: $colorA;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color: #B0B0B0;
  color: #ffffff;
}

.btn-large {
  width: 202px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

.btn-huge {
  width: 300px;
  height: 54px;
  line-height: 50px;
  font-size: 16px;
}

.btn-group {
  .btn {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
